body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg {
  background-image: url(./Images/image.jpg);
  min-height:100vh;
}

.pimg1 {
    background-image: url(./Images/image1.jpg);
    min-height:100vh;
  }
 
.pimg2 {
  background-image: url(./Images/image2.jpg);
  min-height:100vh;
}

.pimg3 {
  background-image: url(./Images/image3.jpg);
  min-height:100vh;
}

.pimg4 {
  background-image: url(./Images/image4.jpg);
  min-height:100vh;
}

.pimg,
.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 40px;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.section {
    padding: 50px 80px;
    text-align: center;
  }
  .section-light {
    background-color: #f4f4f4;
    color: #666;
  }
  .section-dark {
    background-color: #282e34;
    color: #ddd;
}


footer {
    color: #fff;
    padding: 20px;
    text-align: center;
}


.footer-links {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    display: inline;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    color: aqua;
}

.copyright {
    margin-top: 10px;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
    color: aqua;
}